<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.theymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>入职欢迎邮件</title>
</head>
<body>
        欢迎<span th:text="${name}"></span> 加入YEB大家庭，您的入职信息如下：
<table border="1">
    <tr>
        <td>姓名</td>
        <td th:text="${name}"></td>
    </tr>
    <tr>
        <td>职位</td>
        <td th:text="${posName}"></td>
    </tr>
    <tr>
        <td>职称</td>
        <td th:text="${joblevelName}"></td>
    </tr>
    <tr>
        <td>部门</td>
        <td th:text="${departmentName}"></td>
    </tr>
    <p>
        带上信心，携着开心，第一天上班心情舒心；保持快乐，烦恼闪躲，开开心心上班好过。第一天上班，祝你心情好，工作顺，同事关系升温蹭蹭蹭。
    </p>
</table>
</body>
</html>